.contact-section1 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    h2 {
        font-family: 'Kanit', sans-serif;
        font-size: 40px;
        color: black;
    }

    p {
        font-family: 'Kanit', sans-serif;
        font-size: 15px;
        font-weight: 100;
        color: black;
    }
}

.contact-content-left {
    width: 50%;
}

.contact-textbox1 {
    width: 100%;
    margin-top: 20px;
}

.contact-content-right {
    width: 30%;
}

.form-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

    .input-field {
        font-family: 'Kanit', sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: black;
        border: none;
        border-bottom: solid 1px #b4b4b4;
    }

    .input-field:hover {
        background-color: #dadada;
        transition: 0.5s ease-in-out;
    }

    .input-field::placeholder {
        padding-left: 5px;
    }

    .input-field:hover::placeholder {
        color: #000000;
        transition: 0.5s ease-in-out;
    }

    .message-field {
        font-family: 'Kanit', sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: black;
        border: none;
        border-bottom: solid 1px #b4b4b4;
    }

    .message-field:hover {
        background-color: #dadada;
        transition: 0.5s ease-in-out;
    }

    .message-field::placeholder {
        padding-left: 5px;
        padding-top: 15px;
    }

    .message-field:hover::placeholder {
        color: #000000;
        transition: 0.5s ease-in-out;
    }
}

.form {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.button-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-start;
    margin-top: 10%;
}

.button {
    width: 125px;
    height: 50px;
    font-family: 'Kanit', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    background-color: #4A4FF2;
    border: none;
}

.button:hover {
    background-color: #4A4FF2;
    transition: 0.5s ease-in-out;
    text-shadow: 0px 0px 5px black;
    box-shadow: inset 0px 0px 10px black;
}

.contact-section2 {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.contact-map-image {
    width: 80%;
}

img {
    width: 100%;
}